:root{
  --colorDark: rgb(20, 40, 80);
  --colorDarkFade1: rgb(202, 209, 224);
  --colorDarkFade2: rgb(119, 132, 167);
  --colorDarkFade3: rgb(52, 63, 90);
  --colorPink: #ffbad7;
  --colorPinkFade1: #e3d0d8;
  --colorFooter: rgb(225, 225, 225);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

code, pre, samp {
  font-family: monospace;
}


img, video {
  max-width: 100%;
  vertical-align: middle;
}

p:not(:last-child) {
  margin: 0 0 1em;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.wrapper { 
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5em;
}

.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10em;
  /* border-top: var(--colorDark) solid 1px; */
}

.masonry-wrapper:after{
  content: "" ;
  display: block;
  margin: 0em auto;
  width: 75%;
  padding-top:5em;
  border-bottom: solid 1px black;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px,1fr));
  grid-gap: 11px;
  grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(100px,1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(4, minmax(100px,1fr));
  }
}
.masonry-item, .masonry-content {
  border-radius: 10px;
  overflow: hidden;
}


.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:var(--colorDark);
}

.overlay-me{
  background-color:var(--colorPink);
}

.overlayDesign{
  background-color:var(--colorPink);
}

.masonry-item:hover .overlay {
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, .3));
  opacity: .98;
}

.overlayText {
  color: white;
  font-size: 1.1em;
  position: absolute;
  width: 90%;
  padding-top: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlayText-me {
  color: black;
  font-size: 1.5em;
}

.projectType{
  padding-bottom: .3em;
  padding-top: .3em;
  padding-right: 1em;
  text-align: right;
}

.nlp {
  color: whitesmoke;
  background-color: var(--colorDarkFade1);
}

.computational {
  color: whitesmoke;
  background-color: var(--colorDarkFade2);
}

.theoretical {
  color: whitesmoke;
  background-color: var(--colorDarkFade3);
}

.design {
  color: whitesmoke;
  background-color: var(--colorPinkFade1);
}
