@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

:root{
    --colorDark: rgb(20, 40, 80);
    --colorDarkFade0:#f7f9fd;
    --colorDarkFade1: rgb(202, 209, 224);
    --colorDarkFade2: rgb(119, 132, 167);
    --colorDarkFade3: rgb(52, 63, 90);
    --colorPink: #ffbad7;
    --colorPinkLight: #fffafc;
    --colorPinkFade1: #e3d0d8;
    --colorFooter: rgb(225, 225, 225);
}


html{
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
}

header{
    position: relative;
    background-color: var(--colorDark);
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
    /* margin-bottom: 10em; */
    z-index: 1;
}


footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5em;
    background-color: var(--colorFooter);
    color:rgb(253, 253, 253);
    text-align: center;
    padding-top: 1em;
    padding-bottom: .5em;
    border-top: var(--colorDarkFade1) 1px solid;
}

.fa {
    margin: .05em .25em .05em .25em;
    font-size: 1.5em;
    color: white;
}


h1{
    margin: .5em;
    color: var(--colorDark)
}

h3{
    margin: .5em;
    color: var(--colorDark);
}

h4{
    margin: .5em;
    color:var(--colorDark)
}


/* NAV BAR */
.navBar {
    background: white;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    display: flex;
    justify-content: space-around;
    /* vertical-align: middle; */
}


.navBoxWrapper {
    display: flex;
    /* background: violet; */
    /* padding: 1em; */
    /* margin-top: -1em; */
}

.TitleName {
    margin: .5em 1em;
    display: grid;
    justify-content: center;
}

.Title{
    font-size: 2.25em;
    color: var(--colorDark);
    text-align: center;
    margin: 0.6em 0em -.1em 0em;
}

.navUL {
    margin-top: 2em;
    padding: .15em;
    display: flex;
    border-top: 1px solid var(--colorDark);
    border-bottom: 1px solid var(--colorDark);
}

.navLI {
    margin: .2em;
    padding: .3em .2em;
    list-style: none; 
    text-align: center;
} 

.navLIA {
    text-decoration: none;
    color: black;
    padding: .5em;
    margin: -.25em;
    font-size: 1em;
    align-items: center;
}

.navLIA:hover{
    text-decoration: none;
    background-color: var(--colorDarkFade0);
    padding: .7em .5em .7em .5em;
    color: var(--colorDark);
    opacity: .3;
    
}

.navLIA-portfolio {
    text-decoration: none;
    color:var(--colorPink);
    padding: .5em;
    margin: -.25em;
    font-size: 1em;
}

.navLIA-portfolio:hover {
    text-decoration: none;
    color:var(--colorPink);
}

.contactMeBox {
    margin: 3em 8em;
    padding: .5em;
    /* border-top: 1px double var(--colorDark);
    border-bottom: 1px double var(--colorDark); */
}

.contactMeBox:after{
    content: "" ;
    display: block;
    margin: 0em auto;
    width: 25%;
    padding-top:.5em;
    border-bottom: solid 1px black;
  }

.sideMargs2 {
    margin-right: 12em;
    margin-left: 12em;
}

.topBottomBorders {
    margin-top: 3em;
    margin-bottom: 10em;
    padding: .5em;
    /* border-top: 1px double var(--colorDark); */
    /* border-bottom: 1px double var(--colorDark); */
}

.topBottomBorders:after{
    content: "" ;
    display: block;
    margin: 0em auto;
    width: 75%;
    padding-top:5em;
    border-bottom: solid 1px black;
  }

.myPicture {
    margin: 1em;
    box-shadow: .5em .5em .25em #ccc;
    border-radius: 1%;
    height: 600px;
}

.contentVerticalTexts{
    display: grid;
}

.photoMenuText {
    display: flex;
    justify-content: center;
}

.Texts {
    margin: 1em;
    font-size: 1.5em;
}

.carousel {  
    text-align: center;
    padding:2em 2em 5em 2em;
    margin: 0em -.5em;
    background-color: white;
}

.slide{
    margin-top: 2.5em;
    padding: 0em;
}
.slide:after{
    content: "" ;
    display: block;
    margin: 0em auto;
    width: 20%;
    padding-top:5em;
    border-bottom: solid 1px black;
  }

.h1-NewsReel{
    font-size: 2.1em;
    font-weight: 150;
    color: var(--colorDark);
    margin: 0em;
    padding: .2em;
}

ol.carousel-indicators {
    bottom: 1.5em;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
 }
 
 ol.carousel-indicators li,
 ol.carousel-indicators li.active {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0em;
    border-radius: 50%;
    border: 0;
    background: transparent;
 }
 
 ol.carousel-indicators li {
    background: rgba(0, 35, 75, 0.1);
    margin-left:auto;
    margin-right: auto;
 }
 
 ol.carousel-indicators li.active {
    background: var(--colorDark);
 }

 .instDate {
     margin: -.5;
     display: flex;
     justify-content: space-between;
 }

 .institutionEntry{
     display: grid;
 }


.p-in-education {
    font-size: 1.3em;
    margin-left: .6em;
    font-style: italic;
}

.aboutMeTitle {
    text-align: center;
    margin-top: 1em;
    margin-bottom: -1em;
}

.aboutMenuItem{
    margin-top: .75em;
    padding: .5em;
    font-size: 1em;
    text-decoration: none;
    color: black;
    
}

.aboutMenu {
    display: flex;
    margin: 1em;
    justify-content: space-between;
    border-bottom: solid 1px var(--colorDark);
    /* background-color: red; */
}

.aboutMenuItem:hover {
    background-color: var(--colorDarkFade0);
    color: var(--colorDark);
    opacity: .3;
}




@media only screen and (max-width: 1293px){
    .navBar {display: grid;}
    
    .myPicture{
        height: 450px;
    }

    .photoMenuText {display: grid;
        justify-content: center;}

}

@media only screen and (max-width: 828px){
    

    .photoMenuText {display: grid;
    justify-content: center;}

    .myPicture{
        height: 400px;

    }

    .fa{
        font-size: 3em;
    }

    .navBar {
        margin-bottom: -3em;
    }
    .navLIA {
        font-size: 1.25em;
    }

    .navLIA-portfolio{
        font-size: 1.25em;
    }

    .aboutMeTitle{
        text-align: center;
        display: none;
    }
}