@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

:root{
    --colorDark: rgb(20, 40, 80);
    --colorPink: #ffbad7;
}


html{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header{
    background-color: var(--colorDark);
    margin: -.5em;
    padding: 1.25em;
    display: flex;
    justify-content: flex-end;
}

.fa {
    margin: .05em .25em .05em .25em;
    font-size: 2em;
    color: white;
}


h1{
    margin: .5em;
    color: var(--colorDark)
}

h3{
    margin: .5em;
    color: var(--colorDark);
}

h4{
    margin: .5em;
    color:var(--colorDark)
}


/* NAV BAR */
.navBar {
    background: white;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    /* vertical-align: middle; */
}

.TitleName {
    margin: .75em 1em;
    display: grid;
}

.Title{
    font-size: 2.25em;
    color: var(--colorDark);
    text-align: center;
    margin: 0.6em 0em -.1em 0em;
}

.navUL {
    margin-top: 2em;
    padding: .15em;
    display: flex;
    border-top: 1px solid var(--colorDark);
    border-bottom: 1px solid var(--colorDark);
}

.navLI {
    margin: .2em;
    padding: .3em .2em;
    list-style: none; 
    text-align: center;
} 

.navLIA {
    text-decoration: none;
    color: black;
    padding: .5em;
    margin: -.25em;
    font-size: 1em;
    align-items: center;
}

.navLIA:hover{
    text-decoration: none;
    background-color: #fffafc;
    padding: .7em .5em .7em .5em;
    color: var(--colorDark);
    
}

.navLIA-portfolio {
    text-decoration: none;
    color:var(--colorPink);
    padding: .5em;
    margin: -.25em;
    font-size: 1em;
}

.navLIA-portfolio:hover {
    text-decoration: none;
    color:var(--colorPink);
}

.contactMeBox {
    margin: 3em 43em;
    padding: .5em;
    border-top: 1px double var(--colorDark);
    border-bottom: 1px double var(--colorDark);
}

.sideMargs2 {
    margin-right: 12em;
    margin-left: 12em;
}

.topBottomBorders {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: .5em;
    border-top: 1px double var(--colorDark);
    border-bottom: 1px double var(--colorDark);
}

.contentVerticalTexts{
    display: grid;
}

.Texts {
    margin: 1em;
    font-size: 1.5em;
}

.carousel {  
    text-align: center;
    padding:2em 2em 5em 2em;
    margin: 0em -.5em;
    background-color: white;
}

.h1-NewsReel{
    font-size: 2em;
    color: var(--colorDark);
    margin: .3em;
}

ol.carousel-indicators {
    bottom: 1.5em;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
 }
 
 ol.carousel-indicators li,
 ol.carousel-indicators li.active {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0em;
    border-radius: 50%;
    border: 0;
    background: transparent;
 }
 
 ol.carousel-indicators li {
    background: rgba(0, 35, 75, 0.1);
    margin-left:auto;
    margin-right: auto;
 }
 
 ol.carousel-indicators li.active {
    background: var(--colorDark);
 }

 .instDate {
     margin: -.5;
     display: flex;
     justify-content: space-between;
 }

 .institutionEntry{
     display: grid;
 }


.p-in-education {
    /* color: red; */
    font-size: 1.3em;
    margin-left: .6em;
    font-style: italic;
}
